$blue: #336799;

$theme-colors: (
  'primary': $blue
);

/*$white: #FFF;
$grey: #6c757d;
$green: #24F258;
$light-blue: #17a2b8;
$yellow: #FFA826;
$red: #dc3545;
$light: rgba(249, 249, 249, 0.712);
$dark: #3D5059;

$theme-colors: (
  'primary': $blue,
  'secondary':$grey,
  'success': $green,
  'info': $light-blue,
  'warning': $yellow,
  'danger': $red,
  'light': $light,
  'dark': $dark
);

.btn-warning{
  color: #FFF !important;
}

.btn-success{
  color: #FFF !important;
}

*/

$btn-font-weight: bold;